<!-- <div class="container bg-light p-2">
<input type="text" placeholder="Enter Your Message" (input)="storeMsg($event)">
<p>Your Message echo:  {{innerMsg}}</p>
</div>
<br> -->
<div class="container bg-light p-2">
    <img [src]="currentImage"> <!--prop binding-->
    <!-- <img src="{{currentImage}}">  -->
    <!-- inter potential-->
    <br><br>
    <div class="d-grid gap-3 d-md-block">
      <button  class="btn btn-primary" (click)="Pervise()">Previse</button>
    <button  class="btn btn-primary" (click)="NextImg()">Next</button>
    <button  class="btn btn-primary" (click)="Start()">Start</button>
    <button  class="btn btn-primary" (click)="stop()">Stop</button> 
    </div>
    
</div>

<!--=========================================================== -->
<br>

<div class="container bg-light p-2">
  <h3>To Do List</h3>
    <form (submit)="AddToDoList()" class="row">

      <div class="col-8">
          <input type="text" class="form-control" name="task" [(ngModel)]="task" placeholder="Enter Task">
      </div>

      <div class="col-4">
        <button type="submit" class="btn btn-primary w-100" >Add</button>
      </div>

      </form>
      <div class="container bg-light p-2">
        <ul>
          <li *ngFor="let item of Alltasks; let i = index" class="item-with-button">
            <span>{{ item }}</span>
            <span class="space"></span>
            <button class="btn btn-primary "(click)="DeleteTask(i)">Delete</button>
          </li>
        </ul>
      </div>
</div>

<!-- <br>
<div class="container bg-light p-2">
    <form (submit)="PrintFormData()">
        <div class="mb-3">
          <label class="form-label">Enter Your Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="formName">
        </div>
        <div class="mb-3">
          <label class="form-label">Enter Your Address</label>
          <input type="text" class="form-control" name="address" [(ngModel)]="formAddress">
        </div>
        <div class="mb-3">
          <label class="form-label">Enter Your Age</label>
          <input type="number" class="form-control" name="age" [(ngModel)]="formAge" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <p #PFD>
        form data : {{formName}} {{formAddress}} {{formAge}}
      </p>
</div> -->